@charset "UTF-8";
body {
  background-color: #FFC971;
}

.nav-link {
  color: #CC5803 !important;
}

h1 {
  color: #CC5803;
  font-size: 50px;
}

p {
  color: #E2711D;
}

.volver-inicio a {
  background-color: #E2711D;
  color: #502201;
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
  position: fixed;
  left: 180px;
  bottom: 40px;
  font-size: 20px;
  width: 90px;
  height: 60px;
  box-shadow: 2px 6px #502201;
}

/*empieza alquiler*/
.contenedor {
  background-color: #CC5803;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 200px);
  grid-template-areas: "img1 img2 img3 img3" "img1 img4 img5 img6" "img7 img4 img8 img8";
  grid-gap: 15px;
  padding: 20px;
  border-radius: 10px;
}

.item1 {
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  transition: all 0.9s;
  border: 2px solid black;
}

.item1:hover {
  transform: scale(1.09);
}

.item1 {
  background-image: url(img/a1.jpg);
  grid-area: img1;
}

.item2 {
  background-image: url(img/a2.jpg);
  grid-area: img2;
}

.item3 {
  background-image: url(img/a3.jpeg);
  grid-area: img3;
}

.item4 {
  background-image: url(img/a4.jpg);
  grid-area: img4;
}

.item5 {
  background-image: url(img/a5.webp);
  grid-area: img5;
}

.item6 {
  background-image: url(img/a6.jpeg);
  grid-area: img6;
}

.item7 {
  background-image: url(img/a7.jpeg);
  grid-area: img7;
}

.item8 {
  background-image: url(img/a8.jpeg);
  grid-area: img8;
}

footer {
  height: 200px;
  background-color: #FF9505;
}

.card {
  background-color: #FF9505;
}

/*empieza lotes*/
.card {
  border: 8px solid #CC5803;
}

.section-lote {
  background-color: #FF9505;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 600px);
  gap: 0.5rem;
  justify-content: center;
  padding: 20px;
}

/*empieza cabañass*/
.puma-icon,
.egret-icon,
.sea-slug-icon {
  height: 350px;
  width: 100%;
  border: 2px solid #333;
}

.puma-icon {
  background-image: url("img/puma.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.sea-slug-icon {
  background-image: url("img/sea-slug.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.egret-icon {
  background-image: url("img/egret.jpg");
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
}

.puma-icon:hover {
  filter: grayscale(0%);
}

.sea-slug-icon:hover {
  filter: grayscale(0%);
}

.egret-icon:hover {
  filter: grayscale(0%);
}

/*empieza contacto*/
.turno {
  width: 500px;
  background-color: #FF9505;
  padding: 30px;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 100px;
  border-radius: 4px;
  color: #CC5803;
  box-shadow: 7px 13px 37px #000;
}

.turno h4 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
  width: 100%;
  background: #FFC971;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #502201;
  font-size: 18px;
  color: #CC5803;
}

.turno p {
  height: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 40px;
  color: aliceblue;
}

.turno a {
  color: #502201;
  text-decoration: none;
}

.turno a:hover {
  color: #CC5803;
  text-decoration: underline;
}

.turno .button {
  width: 100%;
  background: #502201;
  border: none;
  padding: 12px;
  color: #CC5803;
  margin: 16px 0;
  font-size: 25px;
  border-radius: 5px;
}

.turno .button:hover {
  background: #FFB627;
}

.whatsapp {
  height: 30px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  text-align: center;
  text-shadow: 2px 4px rgb(60, 64, 60);
  padding-left: 5px;
  padding-right: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.whatsapp a {
  color: greenyellow;
  font-size: 40px;
}

p {
  color: #502201;
  font-weight: 500;
}

/*# sourceMappingURL=estilos.css.map */
